{
  "env": { "browser": true, "es6": true, "node": true },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "simple-import-sort",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "sort-imports": "off",
    "import/order": "off",
    "simple-import-sort/sort": "error",
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint"
      ],
      "rules": {
        "no-dupe-class-members": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-use-before-define": "off"
      }
    }
  ]
}
