.*
*#
*~
#!.dir-locals.el
start-emacs.sh
!.gitignore
!.yarnrc
!.prettierrc
!.prettierignore
!.eslintrc
!.eslintignore
!.lintstagedrc
!.huskyrc
!.travis.yml
node_modules/
npm-packages-offline-cache/
dist/
bundle/
*.tsbuildinfo
*.log
coverage/
typedoc/
/neo4j-community-*
